/*Password Creator Css*/
body {
    background-image: url(dirt.jpg);
    background-size: cover;
    font-family: "Monocraft";
}

button {
    background-color: green;
    outline: none;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
    border: none;
    margin-left: 8px;
    background-image: url(stone.jpg);
    background-size: cover;
    font-family: "Monocraft";
    font-size: 19px;
    margin: 2px;
}

button:hover {
    background-color: rgb(138, 145, 136);
    box-shadow: 5px 5px 5px rgb(214, 214, 214);
}

textarea {
    resize: none;
    border: 5px solid rgb(35, 34, 34);
    height: 20px;
    margin-left: 21px;
    outline: none;
    box-shadow: 3px 3px 3px black;
    color: rgb(21, 116, 5);
    background-color: black;
    font-family: "Monocraft";
    font-size: 20px;
    border: solid grey;
    color: white;
}

input {
    border: 5px solid rgb(35, 34, 34);
    height: 20px;
    outline: none;
    color: white;
    font-family: "Monocraft";
    border: transparent;
    background-image: url(stone.jpg);
    background-size:cover;
    width: 190px;
}

label {
    font-family: "Monocraft";
    font-size: 20px;
    color: green;
}

legend {
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Pixelify Sans', sans-serif;
}

h1 {
    font-family: "Monocraft";
    font-size: 24px;
}

strong {
    color: lightgray;
}


.content {
    margin-top: -190px;
    margin-left: 660px;
    text-align: center;
    background-color: rgb(65, 62, 62);
    width: 600px;
    padding: 20px;
    height: 10cm;
    border: none;
    font-size: 20px;
    border: solid rgb(56, 55, 55);
    background: transparent;
    border: none;
}

.content2 {
    margin-top: -404px;
    margin-left: -110px;
    text-align: center;
    background-color: rgb(65, 62, 62);
    width: 300px;
    padding: 22px;
    border: none;
    height: 4.9cm;
    font-size: 20px;
    border: solid rgb(56, 55, 55);
    border: none;
    background: transparent;
}

.main {
    border: none;
    margin-top: 30px;
    margin-left: 1px;
}

.ui {
    margin-top: 300px;
    border: none;
}

.ui2 {
    border: none;
    font-size: 20px;
    text-align: center;
    margin-left: 590px;
    margin-top: 20px;
    height: 200px;
    width: 200px;
}

.box {
    width: 350px;
    height: 134px;
    box-shadow: 9px 9px 9px black;
}

.numbers {
    background-color: darkgrey;
    font-size: 20px;
    margin-top: 3px;
    margin-left: 3px;
}

.uppercase {
    background-color: darkgrey;
    font-size: 20px;
    margin-top: 3px;
    margin-left: 3px;
    width: 26px;
}

.lowercase {
    background-color: darkgrey;
    font-size: 20px;
    margin-top: 3px;
    margin-left: 3px;
    width: 26px;
}

.dev {
    margin-left: 80%;
}

.gpd {
    width: 20%;
}

.limparsenha:hover {
    background-image: url(redstone.jpg);
    background-size: cover;
}
.limpardados:hover {
    background-image: url(redstone.jpg);
    background-size: cover;
}